body {
  padding-left: 11em;
  font-family: Georgia, "Times New Roman",
        Times, serif;
  color: rgb(88, 4, 4);
  background-color: #ffeeb1
}

ul.navbar {
  padding: 0;
  margin: 0;
  position: absolute;
  top: 2em;
  left: 1em;
  width: 8em }

header, footer {
  background: #ffffd0;
  padding: 15px 20px;
  margin-bottom: 15px;
  border-radius: 7px;
}

h1 {
  font-family: sans-serif, Geneva, Arial,
  text-decoration underline;
  font-size: 40px;
}

h2 {
  font-family: cursive 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
  text-decoration underline;
}

ul.navbar li {
  background: #2c1f0a;
  margin: 1em 0;
  padding: 0.4em 1.2em;
  border-radius: 5px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

ul.navbar a {
  text-decoration: none 
}

a:link {
  color: rgb(253, 255, 194) }
a:visited {
  color: rgb(10, 32, 58) }

